<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=iso-8859-1">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <br><br><br>
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h6 class="card-title rest_titulo text-center mb-4">Dar de alta propiedad</h6>
            <form (submit)="guardarPropiedad()">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="numeroReferencia">Nº Referencia</label>
                            <input type="text" class="form-control" id="numeroReferencia" name="numeroReferencia" [(ngModel)]="propiedad.numeroReferencia" placeholder="Número de Referencia" required autofocus>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="dniCliente">DNI Cliente</label>
                            <input type="text" class="form-control" id="dniCliente" name="dniCliente" [(ngModel)]="dniCliente" readonly>
                        </div>
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" [(ngModel)]="propiedad.direccion" placeholder="direccion" required >
                </div>

                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="localidad">Localidad</label>
                            <input type="text" class="form-control" id="localidad" name="localidad" [(ngModel)]="propiedad.localidad" placeholder="localidad" required >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="poblacion">Población</label>
                            <input type="text" class="form-control" id="poblacion" name="poblacion" [(ngModel)]="propiedad.poblacion" placeholder="poblacion" required >
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="codigoPostal">Código Postal</label>
                            <input type="text" class="form-control" id="codigoPostal" name="codigoPostal" [(ngModel)]="propiedad.codigoPostal" placeholder="codigoPostal" required >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="total">¿ Cuánto pides ?</label>
                            <input type="text" class="form-control" id="total" name="total" [(ngModel)]="propiedad.total" placeholder="total" required >
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="tipoPropiedad">Tipo de Propiedad</label>
                            <select class="form-control" id="tipoPropiedad" name="tipoPropiedad" [(ngModel)]="propiedad.tipoPropiedad" required>
                            <option value="estudio">Estudio</option>
                            <option value="piso">Piso</option>
                            <option value="apartamento">Apartamento</option>
                            <option value="chalet">Chalet</option>
                            <option value="parcela">Parcela</option>
                            <option value="garaje">Garaje</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="operacion">Operación</label>
                            <select class="form-control" id="operacion" name="operacion" [(ngModel)]="propiedad.operacion" required>
                                <option value="venta">Venta</option>
                                <option value="alquiler">Alquiler</option>
                                <option value="permuta">Permuta</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion">Datos del Inmueble</label>
                    <textarea class="form-control" id="descripcion" name="descripcion" [(ngModel)]="propiedad.descripcion" rows="3" required></textarea>
                </div>
                <div class="form-row">
                    <div class="col-md-6"> 
                        <div class="form-group">
                            <label for="foto">Foto</label>
                            <input type="file" class="form-control-file" id="foto" name="foto" (change)="seleccionarFoto($event)">
                        </div>
                    </div>
                    <div class="col-md-6"> 
                        <div class="form-group">
                            <label>Situación del Inmueble</label>
                            <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="estado" name="estado" [(ngModel)]="propiedad.estado">
                            <label class="form-check-label" for="estado">Activo</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button mat-raised-button color="primary" type="submit">Guardar Propiedad</button>
                </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

