<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="200"
    alt="Ayabiliaria logo"
    src="assets/logos/Ayabiliaria.png"
  />

<button mat-button [matMenuTriggerFor]="aboveMenu">Clientes</button>
<!-- #docregion menu-position -->
<mat-menu #aboveMenu="matMenu" yPosition="above">
<!-- #enddocregion menu-position -->
  <button mat-menu-item routerLink="/altas">Alta</button>
  <button mat-menu-item routerLink="/modificar">Modificar</button>
  <button mat-menu-item routerLink="/consultar">Consultar</button>
  <button mat-menu-item routerLink="/listados">Listados</button>
</mat-menu>

<button mat-button [matMenuTriggerFor]="belowMenu">Propiedades</button>
<mat-menu #belowMenu="matMenu" yPosition="above">
  <button mat-menu-item routerLink="/altas">Alta</button>
  <button mat-menu-item routerLink="/modificar">Modificar</button>
  <button mat-menu-item routerLink="/consultar">Consultar</button>
  <button mat-menu-item routerLink="/listados">Listados</button>
</mat-menu>

<!--
<button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
<mat-menu #beforeMenu="matMenu" xPosition="before">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>
-->
  
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet></router-outlet>
