table {
  width: 100%;
}

/* Estilo general para la tabla */
.mat-table.custom-responsive-table {
  width: 100%;
  overflow-x: auto;
  margin-top: 50px; /* Agrega un margen superior para separarla del menú */
  margin-bottom: 200px; 
}

/* Estilos específicos para columnas en pantallas pequeñas */
@media (max-width: 600px) {
  .mat-column-dni,
  .mat-column-nombre,
  .mat-column-telefonoContacto,
  .mat-column-correoElectronico,
  .mat-column-datosBancarios {
    flex-basis: 100%;
    display: block; /* Cambiar a display block para que los elementos se apilen */
    text-align: center; /* Centrar el contenido en pantallas pequeñas */
    padding: 1px; /* Espacio entre los elementos */
  }
}

.mat-toolbar.navbar {
  margin-top: 20px; /* Ajusta el valor según sea necesario */
}
.mat-toolbar.navbar {
  z-index: 100;
}



