table {
  width: 100%;
}

.rest_titulo{
  font-family: "Nunito", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  font-display: auto;
  text-align: center;
  color: #0f3794;
  margin-bottom: 20px;
}

section {
  display: table;
  font-display: arial;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

/* Estilos para la fila de nuevo cliente */
.new-client-row {
  background-color: #f5f5f5;
}

.new-client-form {
  display: flex;
  align-items: center;
  gap: 8px;
}

.new-client-form input {
  padding: 4px;
}

.new-client-form button {
  margin-left: 8px;
}

.espacios {

  padding: 0px 20px;
}

/* Estilos personalizados */
.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.card-title {
  margin-bottom: 1.5rem;
  font-weight: bold;
}

/* Centrar verticalmente el formulario */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }



/* Cambiar el color de los íconos cuando los botones están deshabilitados */
.mat-icon-button:disabled .mat-icon {
  color: gray; /* Cambia este color al que desees para los íconos deshabilitados */
}





  